# Based on http://conda.pydata.org/docs/travis.html
language: python
sudo: false # use container based build
notifications:
  email: false

matrix:
  fast_finish: true
  include:
  - python: 2.6
    env: CONDA_ENV=py26
  - python: 2.7
    env: CONDA_ENV=py27
  - python: 3.3
    env: CONDA_ENV=py33
  - python: 3.4
    env: CONDA_ENV=py34
  - python: 3.5
    env: CONDA_ENV=py35

before_install:
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget http://repo.continuum.io/miniconda/Miniconda-3.16.0-Linux-x86_64.sh -O miniconda.sh;
    else
      wget http://repo.continuum.io/miniconda/Miniconda3-3.16.0-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no --set show_channel_urls true
  - conda update -q conda
  - conda info -a

install:
  - conda env create --file ci/requirements.yml python=$CONDA_ENV
  - source activate test_env
  - python setup.py build
  - python setup.py install

script:
  - py.test xarray  # --cov=netcdftime --cov-report term-missing

after_success:
  - coveralls
