include *.txt
include README.md
include COPYING
include pyproject.toml
include *.release
include Changelog
include *.yml
include .coveragerc
recursive-include cftime *.py
recursive-include cftime *.pyx
recursive-exclude cftime *.c
recursive-include ci *.enc
recursive-include ci *.sh
recursive-include docs *.bat
recursive-include docs *.buildinfo
recursive-include docs *.css
recursive-include docs *.doctree
recursive-include docs *.gif
recursive-include docs *.gitkeep
recursive-include docs *.html
recursive-include docs *.inv
recursive-include docs *.js
recursive-include docs *.pickle
recursive-include docs *.png
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include test *.py
