include *.txt
include README.md
include COPYING
include pyproject.toml
include *.release
include Changelog
include *.yml
include .coveragerc
recursive-include cftime *.py
recursive-include cftime *.pyx
recursive-exclude cftime *.c
