name: Build and test with development python

on:
  pull_request:
  push:

# Deny all permissions by default
permissions: {}

jobs:
  build-linux:
    name: Python (${{ matrix.python-version }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14.0b.1"]
    steps:

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        persist-credentials: false

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}

    - name: Update Pip
      run: |
        python -m pip install --upgrade pip

    - name: Install unstable cftime dependencies via pip
      run: |
        python -m pip install --pre --group dev
        # get nightly wheels for numpy
        python -m pip install \
          --index-url https://pypi.anaconda.org/scientific-python-nightly-wheels/simple/ \
          --trusted-host pypi.anaconda.org \
          --no-deps --pre --upgrade \
          numpy

    - name: Install cftime
      run: |
        python -m pip install .

    - name: Test cftime
      run: |
        pytest -vv test
