name: TESTS-CONDA-ENV

on:
  pull_request:
  push:
    branches: [master]

# Deny all permissions by default
permissions: {}

jobs:
  run:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13", "3.14" ]
        os: [windows-latest, ubuntu-latest, macos-latest]
        platform: [x64, x32]
        experimental: [false]
        exclude:
          - os: macos-latest  
            platform: x32
        include:
          - python-version: "3.12"
            os: "ubuntu-latest"
            experimental: true

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      with:
        persist-credentials: false

    - name: Setup micromamba Env
      uses: mamba-org/setup-micromamba@add3a49764cedee8ee24e82dfde87f5bc2914462 # v2.0.7
      with:
        environment-name: TEST
        create-args: >-
          python=${{ matrix.python-version }}
          numpy>1.13.3
          cython>=0.29.20
          pytest
          coverage
    - name: Install unstable dependencies
      if: matrix.experimental == true
      shell: bash -l {0}
      run: |
        python -m pip install \
        --index-url https://pypi.anaconda.org/scientific-python-nightly-wheels/simple/ \
        --trusted-host pypi.anaconda.org \
        --no-deps --pre --upgrade \
        numpy;
        python -m pip install -v -e  . --no-deps --no-build-isolation --force-reinstall

    - name: Install cftime
      if: matrix.experimental != true
      shell: bash -l {0}
      run: |
        python -m pip install -v -e  . --no-deps --force-reinstall

    - name: Run Tests
      shell: bash -l {0}
      run: |
        coverage run -m pytest -vv test
        coverage report
